<%- include("partials/_header") -%>
<body>
	<div class="tm-page-wrap mx-auto">
		<div class="position-relative">

			<%- include("partials/_navigation") -%>

			<div class="tm-welcome-container tm-fixed-header tm-fixed-header-3">
				<div class="text-center">
          <p class="tm-welcome-text mb-1 text-white">Ürün Güncelleme</p>
                	
				</div>                
            </div>

            <div id="tm-fixed-header-bg"></div> <!-- Header image -->
		</div>

		<!-- Page content -->
		<main>
			<div class="container-fluid px-0">
				<div class="mx-auto tm-content-container">					
					<div class="row mt-3 mb-5 pb-3">
						<div class="col-12">
							<div class="mx-auto tm-about-text-container px-3">
								<h2 class="tm-page-title mb-4 tm-text-red">Ürün Güncelle</h2>
                                <p class="mb-2">
                                    Ürün adını ve açıklamasını aşağıdan güncelleyebilirsiniz.
                                </p>
							</div>							
						</div>						
					</div>
                    <div class="mx-auto pb-3 tm-about-text-container px-3">
                        <div class="row">
                            <div class="col-lg-12 mb-5">
                                <form method="post" action="/products/<%= product.slug %>?_method=PUT" class="tm-contact-form" encType="multipart/form-data">
                                  <div class="form-group">
                                    <input type="text" name="name" value="<%= product.name %>" class="form-control rounded-0"
                                  </div>
                                  <div class="form-group">
                                    <textarea rows="8" name="description" class="form-control rounded-0"
                                              required><%= product.description %></textarea>
                                  </div>
                                  <div class="form-group mb-0">
                                    <button type="submit" class="btn btn-primary rounded-0 d-block ml-auto mr-0 tm-btn-animate tm-btn-submit tm-icon-submit"><span>Güncelle</span></button>
                                  </div>
                                </form>    
                            </div>
                        </div>  
                    </div>                                      			
				</div>
			</div>
		</main>

		<div class="container-fluid tm-content-container mx-auto pt-4">

            <%- include("partials/_footer") -%>
            
    <script src="js/parallax.min.js"></script>    
</body>
</html>